---
import BlogCard from "@component/BlogCard.astro";
import Layout from "@layout/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<Layout>
    <div
        class="py-12 px-5 grid gap-12 md:px-6 md:max-w-[700px] lg:max-w-[1080px] lg:py-16 mx-auto lg:px-0 lg:gap-16"
    >
        <h1 class="text-3xl font-semibold tracking-tighter lg:text-4xl">
            Blog posts
        </h1>
        <div class="grid gap-5 md:grid-cols-2 md:gap-6 lg:grid-cols-3 lg:gap-8">
            {
                posts.map((post, index) => (
                    <BlogCard
                        id={post.id}
                        data={post.data}
                        isLast={index + 1 - posts.length === 0}
                    />
                ))
            }
        </div>
    </div>
</Layout>
