---
import type { CollectionEntry } from "astro:content";

type Props = Pick<CollectionEntry<"blog">, "id" | "data"> & {
    isLast?: boolean;
};

const { data, id, isLast = false } = Astro.props;
---

<a href={`/blog/${id}`}>
    <div
        class:list={[
            "pb-5 md:min-w-[308px] md:max-w-[312px] md:min-h-[128px] lg:min-w-[336px] lg:max-w-[336px] lg:min-h-[140px] lg:pb-6",
            // { "border-transparent": isLast },
        ]}
    >
        <div class="grid gap-1 lg:gap-1.5">
            <div class="flex justify-between w-full">
                <h4
                    class="text-lg font-semibold mr-7 text-pretty lg:text-xl lg:max-w-[300px]"
                >
                    {data.title}
                </h4>
                <div class="pt-1">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="size-5 text-neutral-500"
                        ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                        ></path><path d="M17 7l-10 10"></path><path
                            d="M8 7l9 0l0 9"></path></svg
                    >
                </div>
            </div>
            <p class="text-neutral-500 max-h-12 line-clamp-2 lg:text-lg">
                {data.description}
            </p>
        </div>
    </div>
</a>
