---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import FormattedDate from "@component/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate } = Astro.props;
---

<Layout>
    <div class="grid justify-items-center">
        <div
            class="py-16 px-5 max-w-[var(--article-container-width)] md:px-6 lg:px-8 md:py-[76px] lg:py-24"
        >
            <div class="grid gap-3 md:gap-4">
                <FormattedDate date={pubDate} />
                <div class="grid gap-4">
                    <h1
                        class="text-4xl font-semibold text-balance tracking-tighter lg:text-5xl"
                    >
                        {title}
                    </h1>
                    <p class="text-neutral-500 lg:text-xl">{description}</p>
                </div>
            </div>
        </div>
        <div
            class="px-5 max-w-[var(--article-container-width)] md:px-6 prose grid gap-4 pb-16 md:pb-[76px] lg:gap-5 lg:pb-24 lg:px-8"
        >
            <slot />
        </div>
    </div>
</Layout>
